/* --------------------
    Custom Style
---------------------*/

/* Typography */

h1{
    font-family: 'Noto Sans', sans-serif;
    padding: 30px;
}

h2{
    color: #754C00;
    font-family: 'Roboto', sans-serif;
}

h3{
    color: coral;
    font-family: 'Source Sans Pro', sans-serif;
}

p, a{
    font-family: 'Source Sans Pro', sans-serif;
}

/* Add Ins */

.adam{
    position: relative;
    animation: move 2s 
    infinite;
  animation-direction: alternate;
}
@keyframes move {
  from {left: 10px;}
  to {left: -10px;}
}

img{
    height: 350px;
    width: auto;
    display: block;
    margin: auto;
    padding-bottom: 1em;
}

iframe{
    height: 300px;
    width: 450px;
    display: block;
    margin: auto;
    padding: 1em;
    border: none;
}

.spacing{
    margin-bottom: 2em;
}

.resume{
    width: 400px;
    margin: auto;
}

#photo{
    width: 400px;
    margin: auto;
}

#video{
    width: 400px;
    margin: auto;
}



@media screen and (min-width: 800px){
    img{
        height: 500px;
    }
    iframe{
        height: 500px;
        width: 700px;
    }

    .resume{
        width: 700px;
    }

    #video{
        width: 600px;
    }
}

@media screen and (min-width: 1200px){
    iframe{
        height: 900px;
        width: 1100px;
    }
}