/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -----------------------------------------------
                Custom Style
-------------------------------------------------- */
p{
    margin: 1em 0;
}

h1, h2, h3, h4{
	font-weight: bold;
}

/* -----------------------------------------------
                    Mobile
-------------------------------------------------- */


/* image re-sizing - used photoshop to make the correct size based off of the png */
.logo img{
    width: 125px;
}
.scooter img{
    width: 285px;
    display: block;
    margin: auto;
}
/* all inputs have the same padding throughout the page */
input{
    padding: 10px;
}

/* Body size */
body{
    background-color: #f7f7ff;
}

/* Main */
main{
    padding: 25px 40px 40px 40px;
    width: 300px;
    margin: auto;
}

/* Title / first paragraph */
h1{
    font-size: 50px;
    /* size based of png */
    color: #333131;
}
.boss p{
    font-size: 15px;
    /* size based of png */
    color: #333131;
}


/* Apply Now */
.apply{
    background-color: #ffffff;
    padding: 25px 30px 25px 30px;
    border-radius: 30px;
    box-shadow: 3px 3px 15px -3px #333131;
    margin-top: 15px;
}
.apply h2{
    font-size: 25px;
    color: #333131;
}
.apply p{
    font-size: 10px;
    color: #333131;
}
.apply .textbox input{
    border: none;
    background-color: #f4f4f5;
    /* adding grid elements */
    display: flex;
    margin-bottom: 10px;
    width: 220px;
    border-radius: 10px;
    color: #9b9b9b;
}
.apply button{
    font-size: 15px;
    background-color: #57eeab;
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-radius: 10px;
    color: #333131;
}
.agree p{
    color: #333131;
    padding-top: 5px;
    /* I added padding here to make the p align with the checkbox */
}
.agree input{
    float: left;
}
.applied p{
    float: left;
    color: #333131;
}
.applied a{
    font-size: 10px;
    text-decoration: none;
    color: #ffb1ae;
    padding-left: 5px;
}

/* Footer */
footer{
    background-color: #fffd8c;
}
.earn{
    width: 300px;
    margin: auto;
    padding: 25px 0px 25px 0px;
}
.earn h2{
    font-size: 10px;
    color: #333131;
}
.earn p{
    font-size: 10px;
    color: #333131;
}
.earn .textbox input{
    border: none;
    color: #707070;
}
.earn .textbox{
    display: flex;
    flex-wrap: wrap;
}
.earn #hours{
    width: 65px;
    margin-right: 10px;
    border-radius: 10px;
}
.earn #city{
    width: 185px;
    border-radius: 10px;
}
.earn button{
    background-color: #ff8480;
    color: #f7f7ff;
    border: none;
    font-size: 15px;
    width: 100%;
    margin: 10px 0px 30px 0px;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
}
.icons{
    display: flex;
    justify-content: space-around;
}

.facebook{
    border-radius: 100%;
}

.twitter{
    background-color: #333131;

}

/* -----------------------------------------------
                    Tablet
-------------------------------------------------- */

@media screen and (min-width: 768px){
   
    /* Main */
    main{
        width: 605px;
    }

    .boss{
        position: absolute;
        /* I used position absolute so the image of the scooter can be behind the text */
    }

    /* Scooter */
    .scooter img{
        width: 420px;
        margin-top: 75px;
    }

    /* Apply Now */
    .info::after{
        content: 'Enter your info below to get started.';
    }
    .apply p{
        font-size: 20px;
    }
    .agree p{
        font-size: 15px;
    }
    .applied p{
        font-size: 10px;
    }
    .apply .textbox input{
        width: 525px;
    }
    .apply .textbox input:nth-child(3){
        order: 1;
    }

    /* Footer */
    .earn{
        width: 605px;
    }
    .earn button{
        width: 200px;
        margin-left: 10px;
    }
    .earn #hours{
        width: 100px;
        height: 30px;
    }
    .earn #city{
        width: 245px;
        height: 30px;
    }
    .icons{
        width: 300px;
        margin: auto;
    }
}






/* -----------------------------------------------
                    Desktop
-------------------------------------------------- */

@media screen and (min-width: 1650px){
    main{
        display: grid;
		grid-template-columns: 3fr;
		grid-template-rows: 2fr;
		grid-template-areas: 
        "header header header"
        "one two three"
		;
    }

    main .logo{
        grid-area: header;
    }
    main .boss{
		grid-area: one;
    }
    main .picture{
		grid-area: two;
    }
    main .apply{
		grid-area: three;
	}
}