/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -----------------------------------------------
                Custom Style
-------------------------------------------------- */
p{
    margin: 1em 0;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

/* -----------------------------------------------
                    Mobile
-------------------------------------------------- */


/* image re-sizing - used photoshop to make the correct size based off of the png */
.logo img{
    width: 125px;
}
.scooter img{
    width: 285px;
    display: block;
    margin: auto;
}

/* all inputs have the same padding throughout the page */
input{
    padding: 10px;
}

/* Body size */
body{
    background-color: #f7f7ff;
}

/* Main */
main{
    padding: 25px 40px 40px 40px;
    width: 300px;
    margin: auto;
}

/* Title / first paragraph */
h1{
    font-size: 55px;
    /* size based of png */
    color: #333131;
    line-height: 70px;
}
.boss p{
    font-size: 20px;
    line-height: 30px;
    /* size based of png */
    color: #333131;
}


/* Apply Now */
.apply{
    background-color: #ffffff;
    padding: 25px;
    border-radius: 30px;
    box-shadow: 3px 3px 15px -3px #333131;
    margin-top: 15px;
}
.apply h2{
    font-size: 25px;
    color: #333131;
}
.apply p{
    font-size: 10px;
    color: #333131;
}

.started{
    visibility: hidden;
}
.apply .textbox input{
    border: none;
    background-color: #f4f4f5;
    /* adding grid elements */
    display: flex;
    margin-bottom: 10px;
    width: 220px;
    border-radius: 10px;
    color: #9b9b9b;
}
.apply button{
    background-color: #57eeab;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-radius: 10px;
    color: #333131;
    font-weight: bold;
    font-size: 25px;
}
.agree p{
    color: #333131;
    padding-top: 5px;
    /* I added padding here to make the p align with the checkbox */
}
.agree input{
    float: left;
}
.applied{
    margin-bottom: 40px;
}
.applied p{
    float: left;
    color: #333131;
    font-size: 12px;
    line-height: 18px;
}
.applied .red{
    text-decoration: none;
    color: #ffb1ae;
}

/* Footer */
footer{
    background-color: #fffd8c;
}
.earn{
    width: 300px;
    margin: auto;
    padding: 25px 0px 25px 0px;
}
.earn h2{
    font-size: 10px;
    color: #333131;
}
.earn p{
    font-size: 10px;
    color: #333131;
}
.earn .textbox input{
    border: none;
    color: #707070;
}
.earn .textbox{
    display: flex;
    flex-wrap: wrap;
}
.earn #hours{
    width: 65px;
    margin-right: 10px;
    border-radius: 10px;
}
.earn #city{
    width: 185px;
    border-radius: 10px;
}
.earn button{
    background-color: #ff8480;
    color: #f7f7ff;
    border: none;
    font-size: 20px;
    width: 100%;
    margin: 10px 0px 30px 0px;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    font-weight: bold;
}
.icons{
    display: flex;
    justify-content: space-around;
}

.facebook{
    border-radius: 100%;
}


/* -----------------------------------------------
                    Tablet
-------------------------------------------------- */

@media screen and (min-width: 768px){
   
    /* Main */
    main{
        width: 605px;
    }

    .boss{
        position: absolute;
        /* I used position absolute so the image of the scooter can be behind the text */
        width: 605px;
    }
    h1{
        font-size: 80px;
        line-height: 90px;
    }

    /* Scooter */
    .scooter img{
        width: 420px;
        padding-top: 325px;
    }

    /* Apply Now */
    
    .apply p{
        font-size: 20px;
    }
    .agree p{
        font-size: 15px;
        padding: 0;
        /* I used this to remove the previous padding becasue the size of the font changed */
        padding-top: 1px;
    }
    .applied p{
        font-size: 15px;
        text-align: center;
    }
    .apply .textbox input{
        width: 525px;
    }


    /* Footer */
    .earn{
        width: 605px;
    }
    .earn button{
        width: 200px;
        margin-left: 10px;
    }
    .earn #hours{
        width: 100px;
        height: 30px;
    }
    .earn #city{
        width: 245px;
        height: 30px;
    }
    .icons{
        width: 300px;
        margin: auto;
    }
}



/* -----------------------------------------------
                    Desktop
-------------------------------------------------- */

@media screen and (min-width: 1600px){
    /* Main */
    main{
        width: 1000px;
    }
    .container{
        display: flex;
        justify-content: center;
        width: 1024px;
    }
    .logo img{
        margin-bottom: 100px;
        
    }

    /* Boss */
    .boss{
        position: static;
    }
    .boss h1{
        font-size: 50px;
        line-height: 60px;
        width: 400px;
    }
    
    /* Scooter */
    .scooter img{
        padding-top: 0px;
        width: 500px;
        height: 500px;
    }


    /* Apply */
    .apply{
        height: 400px;
    }
    .info{
        display: none;
    }
    .started{
        visibility: visible;
    }

    /* footer */
    .earn{
        width: 1500px;
    }
    .earn{
        display: flex;
    }
    #one{
        float: left;
    } 
    #two{
        float: right;
        margin-top: 25px;
        margin-left: 595px;
    }
    .icons{
        margin: 0;
        height: 30px;
    }
    .icons img:nth-child(2){
        order: -2;
    }
    .icons img:nth-child(3){
        order: -1;
    }
    .facebook{
        border-radius: 0;
    }
    .twitter{
        background-color: transparent;
    }
    
}