html{
    font-family: Arial, Helvetica, sans-serif; 
    background: #aad4cf;
    margin: auto;
    width: 55%;
}

body{
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
}

h1{
    background: url("../images/lone-starfish-wide.jpg") no-repeat center center;
    background-size: cover;
    text-align: center;
    color: white;
    font-size: 40px;
    padding: 100px;
}

nav ul a{
    text-decoration: none;
}

nav{  
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
}

nav ul li{
    display: inline-block;
    width: 30%;
    border-right: 2px solid black;
    padding: 10px;
    font-size: 24px;
}

nav ul li:last-child{
    border: none;
}

main{
    padding: 1em;
}

img{
    float: left;
    width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
}

h2{
    font-size: 34px;
}

h3{
    font-size: 24px;
}

form{
    border: 1.5px solid black;
    padding: 1em;
    line-height: 40px;
}

div input{
    display: block;
    padding-right: 80%;
    padding-bottom: 0%;
}

div input:last-child{
    line-height: 5em;
}

section section{
    line-height: 0px;
}

button{
    text-transform: uppercase;
    background-color: transparent;
    padding: 10px;
    margin-top: 20px;
}

footer{
    padding: 20px;
    text-align: right;
}