/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -----------------------------------------------
                Mobile Style
-------------------------------------------------- */
/* h1 went up more then 10 px because it needed to fill the space at the top of the page */
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
p, label, button{
    font-size: 20px;
}
input{
    font-size: 15px;
}
nav{
    font-size: 30px;
}

/* Fonts */
h1, nav{
    font-family: 'Chivo';
}
h2, h3{
    font-family: 'Francois One';
}
p, label, input, button{
    font-family: 'Pangolin';
}

/* Body */
body{
    width: 100%;
    background-color: #F3F3F4;
}
img{
    width: 100%;
}

/* Header */
header h1{
    text-align: center;
    padding: .5em;
    background-color: #A98743;
    color: #F3F3F4;
}

/* Navigation */
nav{
    background-color: #F3F3F4;
}
nav ul{
    text-align: center;
}
nav li{
    padding: .5em;
}
nav a{
    text-decoration: none;
    color: #0FA3B1;
}

/* ----- Header & Footer ----- */

/* Home */
.home-page h2, .about-page h2, .passion-page h2{
    padding: .5em;
    text-align: center;
    background-color: #0FA3B1;
    color: #483D3F;
}
.home, .about, .passion{
    background-color: #0FA3B1;
    color: #483D3F;
}
.home-page p, .about-page p, .passion-page p{
    background-color: #F3F3F4;
    color: #483D3F;
    width: 450px;
    padding: .5em;
    text-align: center;
    margin: auto;
    /* I used a border to add more space around the textbox istead of margin because I already used margin: auto; */
    border: 15px solid #0FA3B1;
}
iframe{
    margin-top: 2em;
}

/* Footer */
footer{
    background-color: #A98743;
}
footer p{
    color: #F3F3F4;
    padding: 1em;
}

/* ----- Home Page ----- */
/* My Work */
.work h3, .connect h3{
    padding: .5em;
    text-align: center;
    background-color: #A98743;
    color: #F3F3F4;
    margin-top: 1em;
}
iframe{
    width: 100%;
    height: 300px;
}

/* Connect With Me */
.connect{
    background-color: #F3F3F4;
}
.form{
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    margin: 2em;
    background-color: #0FA3B1;
    border-radius: 25px;
}
.form label{
    color: #483D3F;
    padding: .5em 0em .5em 0em;
}
.form input{
    /* I used px instead of em becasue I already used px when deciding the font sizes for h's and p's above^ */
    padding: 15px 0px 15px 10px;
    border-radius: 15px;
    border: none;
    background-color: #F3F3F4;
}
#yourcomment{
    padding-bottom: 50px;
    margin-bottom: 1em;
}
button{
    background-color: #F3F3F4;
    color: #483D3F;
    padding: .5em 0em .5em 0em;
    width: 50%;
    margin: auto;
    border-radius: 15px;
    border: none;
}

/* ----- About Page & Passion Page----- */
.about-page h3, .passion-page h3{
    text-align: center;
    padding-top: .5em;
}
.curling h3, .hometown h3{
    color: #483D3F;
}
.hometown, .curling{
    background-color: #0FA3B1;
}

/* -----------------------------------------------
                Tablet Style
-------------------------------------------------- */

@media screen and (min-width: 700px){
    /* navigation */
    nav ul{
        display: flex;
        justify-content: space-evenly; 
    }
    nav li{
        padding: 1em;
    }

    /* Home Page */
    .home-page p{
        width: 650px;
    }

    /* Footer */
    footer{
        margin-top: 2em;
        /* I added a margin to the top to create space after the space was lost using the margin auto on the form */
    }
}

@media screen and (min-width: 700px) and (max-width: 1200px){
     /* My Work */
    iframe{
        height: 400px;
        /* I made the height only 400px to make the video appear to be a more cinematic in size */
    }
    /* Connect */
    .connect h3{
        margin-bottom: 1em;
    }
    .form{
        width: 600px;
        margin: auto;
    }
    
    /* About & Passion */
    .passion, .curling, .about, .hometown{
        display: flex;
        padding: 1em;
    }
    .tablet img{
        width: 30%;
    }
    .tablet h3{
        margin: auto;
        padding: .5em;
    }
}

/* -----------------------------------------------
                    Desktop
-------------------------------------------------- */

@media screen and (min-width: 1200px){
    /* Entire Page */
    nav{
        width: 100%;
        position: absolute;
        top: 0;
    }
    .title{
        margin-top: 6em;
        margin-bottom: 3em;
    }
   
    /* Navigation */
    nav ul{
        justify-content: flex-end;
    }

    /* Home Page */
    .desktop{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 2em;
    }
    .work, .connect, .passion, .curling, .about, .hometown{
        margin: 2em;
    }
    .home-page p{
        width: 900px;
    }

    /* About Page */
    .home-page h2, .about-page h2, .passion-page h2{
        width: 30%;
        margin: auto;
        border-radius: 40px;
    }
    .about, .passion, .home{
        margin-top: 3em;
    }
    .about-page h3{
        margin: auto;
    }

    /* Passion Page */
    .hometown, .curling{
        margin-top: 3em;
    }
}